<%= link "Back", to: Routes.college_path(@conn, :index) %>
<h1><%= @college.name %></h1>
<div class="college college">
  <p class="college__state">
    <%= @college.state %>
  </p>
  <%= link "Edit", to: Routes.college_path(@conn, :edit, @college.id), class: "btn btn-default" %>
  <%= link "Delete", to: Routes.college_path(@conn, :delete, @college), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger" %>
</div>